---
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
}

const {
  title = "آموزشگاه موسیقی فاتح | آموزش موسیقی در شوشتر",
  description =
    "آموزشگاه موسیقی فاتح، آموزش تخصصی گیتار، پیانو، ویولن، آواز و سایر سازها در شوشتر."
} = Astro.props;
---

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{title}</title>
  <meta name="description" content={description} />

  <link rel="icon" href="/favicon.svg" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <link
    href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap"
    rel="stylesheet"
  />
</head>

<body>
  <slot />
</body>
</html>